# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID=kpqygbjnyrhy
CONTENTFUL_ACCESS_TOKEN=CFPAT-_14EBnglw833pMUcgjw4gkG08DSn1uj83p-KwU0YbI4
